body{
    background-color:#E0E5EC;
  }
  .box{
  /* Basic styling and alignment */
  margin-left: 50px;
  margin-right: 50px;
  margin-top:5px;
  border-radius:4px;
  width:200px;
  height:270px;
    /* Basic styling and alignment */
  /* For Neumorphism Effect */
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    /* For Neumorphism Effect */
  }
